<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory name="queries">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">Smilemars09</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl2</property>
  <property name="hibernate.connection.username">System</property>
  <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
  <property name="hibernate.connection.pool_size">2</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  
  <mapping class="org.modelo.persona.Persona" />
  
 </session-factory>
</hibernate-configuration>
